.App {
    min-height: 100vh;
    min-width: 100vh;
    position: relative;
}

.App.theme-dark {
    background-color: rgb(34, 34, 34);
}

.App.theme-light {
    background-color: white;
}

.switch-custom {
    outline: none;
    box-shadow: none;
    font-weight: bold;
}

.form-switch .form-check-input {
    background-color: #c3c3c3;
}

.form-switch .form-check-input:checked {
    background-color: #4f4f4f; /* Darker gray for the knob when active */
    border-color: #4f4f4f;
}

.switch-custom.background-dark {
    background-color: rgb(34, 34, 34);
}

.switch-custom.background-light {
    background-color: white;
}


.switch-custom.text-dark {
    color: rgb(200, 200, 200)
}

.switch-custom.text-light {
    color: white;
}

.form-switch .form-check-input {
    background-color: #b3b3b3;
    border-color: #cfcfcf;
}

.form-switch .form-check-input::checked {
    background-color: #4f4f4f;
    border-color: #cfcfcf;
}