
.menu-title {
    text-align: center;
}

.menu-title.light {
    color: white;
}

.menu-title.dark {
    color: black;
}

.menu-row {
    display: inline-block;
  }

  .menu-background-color {
    background-color: white;
}
